Makefile.in
/aclocal.m4
/autom4te.cache/
/build/
/config.h.in*
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/m4/
/po/Makefile.in.in
/test-driver
